.image{
    width: 15vw;
    height: 15vh;
}


.productCard:hover{
    box-shadow: -1px 6px 19px 0px #116466
}
.propertyTitle{
    font-size: 14pt;
}
.propertyPrice{
    font-size: 14pt;
}
@media (max-width: 1024px) {

    .propertyTitle{
        font-size: 12pt;
    }
    .propertyPrice{
        font-size: 12pt;
    }

    .image{
        width: 18vw;
        height: 15vh;
    }
  }
  @media (max-width: 768px) {
    .card{
        width: 20vw;
        height: 25vh;
    }
    .image{
        width: 20vw;
        height: 15vh;
    }
    .categoryTitle{
        font-size: 18pt;
    }


  }
  @media (max-width: 480px) {
    .card{
        width: 38vw;
        height: 25vh;
    }
    .image{
        width: 38vw;
        height: 15vh;
    }
    .categoryTitle{
        font-size: 18pt;
    }

    .propertyTitle{
        font-size: 9.5pt;
    }
    .propertyPrice{
        font-size: 10pt;
    }
  }
  @media (max-width: 320px) {
    .categoryTitle{
        font-size: 14pt;
    }
    .image{
        width: 32vw;
        height: 15vh;
    }
    .card{
        width: 32vw;
        height: 22vh;
    }

    .propertyTitle{
        font-size: 10pt;
    }
    .propertyPrice{
        font-size: 12pt;
    }
  }