.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #9698921e;
  }
.heading{
    display: flex;
    gap: 10px;
}


@media (max-width: 1200px) {
    
  }
  @media (max-width: 900px) {
    

  }
  @media (max-width: 600px) {
    
  }
  @media (max-width: 320px) {
    
  }
