@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,700;1,100&display=swap');


.heroSection{
  display: flex;
  justify-content: center;
  gap:5vw;
  margin-top: 0vh;
  height: 80vh;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.heroText{
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  width: 55vw;
}
.hero{
  width: 80vw;
  height: 40vh;
}
.homeGrid{
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  color: white;
  background: #042e41;

}
.footerBox{
  display: flex;
  justify-content: center;
  align-items: center;

}
.footerLinks{
  color:#b0f0fd;
}





.ovalParent{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  width: 65vw;
  height: 100%
}

.ovalImageBig{
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.ovalImageSmall{
  margin-left: 25px;
  width: 40%;
  height: 100%;
  border-radius: 10px;
}

.buttonContainer{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap:10px
  
}

.dealsSection{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5vh;
}

.dealsSection h3{
  font-weight: 900;
}
.dealsItems{
  margin-top: 3vh;
}

.categorySection{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5vh;
}
.categoryItems{
  margin-top: 3vh;
}
.categorySection h3{
  font-weight: 900;
}



@media (max-width: 1366px) {

  .heroSection{
    display: flex;
    justify-content: center;
    gap:5vw;
    margin-top: 0vh;
    height: 80vh;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
  }


  .ovalParent{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    width: 70vw;
    height: 80vh;
  }
  .dealsSection{
    padding-left: 75px;
    padding-right: 75px;
  }
  .categorySection{
    padding-left: 75px;
    padding-right: 75px;
  }
  
  

}



@media (max-width: 1024px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .categoryHeading{
    font-size: 20pt;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5vw;
    margin-top: 15vh;
    height: 100vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    width: 100%;
    text-align: center;
  }

  .ovalParent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    width: 95vw;
    height: 80vh;
    margin-bottom: 20vh;
    padding-right: 75px;
    padding-left: 75px;
  }
  .dealsSection{
    margin-top: 15vh;
    padding-left: 10px;
    padding-right: 10px;
  }
  .categorySection{
    padding-left: 10px;
    padding-right: 10px;
  }
  .buttonContainer{
    display: flex;
    flex-direction: column;
  }

}
@media (max-width: 480px) {
  .heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5vw;
    margin-top: 5vh;
    height: 100vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    width: 100%;
    text-align: center;
  }

  .ovalParent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 50px;
    width: 95vw;
    height: 80vh;
    margin-bottom: 1vh;
  }
  .dealsSection{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5vh;
  }

}
@media (max-width: 375px) {
  .ovalParent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 50px;
    width: 95vw;
    height: 80vh;
    margin-bottom: 1vh;
  }
  

}