@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,700;1,100&display=swap');


.heroSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5vw;
  margin-bottom: 2vh;
  margin-top: 0vh;
  height: 45vh;
  width: 100%;
  background: url("https://res.cloudinary.com/attic-gis/image/upload/v1645719204/resize-16457191211406566195constructionpvcpipescomposition_1_ob51qi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.heroText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b0f0fd;
}
.hero{
  width: 80vw;
  height: 40vh;
}
.homeGrid{
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  color: white;
  background: #042e41;

}
.footerBox{
  display: flex;
  justify-content: center;
  align-items: center;

}
.footerLinks{
  color:#b0f0fd;
}


.heroText h1{
    
  font-size: 3.5rem;
  font-weight: 600;
}
.categoryHeading{
  margin-top: 1vh;
  margin-bottom: 2.5vh;
}


@media (max-width: 1024px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .heroText h1{
    
    font-size: 2rem;
    font-weight: 600;
  }
  .categoryHeading{
    font-size: 20pt;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .categoryHeading{
    font-size: 20pt;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .heroWord{
    font-size: 52pt;
  }
  .heroSection{
    margin-top: 5vh;
  }
  .homeGrid{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .categoryHeading{
    font-size: 18pt;
    margin-bottom: 20px;
  }
  .hero{
    width: 85vw;
    height: 30vh;
  }
  .heroText h1{
    
    font-size: 18pt;
    font-weight: 600;
  }
  .heroText h6{
    margin-top: 2vh;
    font-size: 14pt;
    font-weight: 500;
    width: 64vw;
    text-align: center;
  }
}
@media (max-width: 320px) {

  .categoryHeading{
    font-size: 14pt;
    margin-bottom: 20px;
  }
  .heroText h1{
    font-size: 14pt;
  }
}