.navbar {
}
.deskMenu {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  
}
.leftSide h4{
  font-weight: 800;
  letter-spacing: 2pt;
}

.rightSide {
  display: flex;
  gap: 30px;
}
.rightSide p{
  font-weight: 600;
  font-size: 14pt;
}
.mobileMenu {
  display: none;
}
.divider{
  margin-top: 1vh;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .deskMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
    position: sticky; 
    margin-top: 2vh;
    top: 0;
    height: 5vh;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 10%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .active {
    background:#c73e3e;
    backdrop-filter: blur(3px);
    text-align: left;
    list-style-position: inside;
    left: 0;
    padding-top: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 9999;
  }
  .normal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 20px;
    left: -100%;
    backdrop-filter: blur(25px);
    z-index: 9999;
    opacity: 1;
    transition: all 1s ease;
  }
}
